<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>소반 페르소나 패키지</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.coulson.soban.persona</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>3D Gaussian Splatting PLY</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.polygon-file-format</string>
			</array>
		</dict>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_soban-table._tcp</string>
		<string>_soban-table._udp</string>
		<string>_soban-capture._tcp</string>
		<string>_soban-capture._udp</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>소반 페르소나 패키지</string>
			<key>UTTypeIdentifier</key>
			<string>com.coulson.soban.persona</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sobanpersona</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
